<div class="index-section home-section">

  <div class="wrapper wrapper--margins">
    <div class="section-content">
    <div class="content">
      <h2> F.U. is Adventurous. F.U. is Lustrous. <br> 
           F.U. is Wine.  
      </h2>
	
      
        <div class="innerflex" id="f1">
          adasdas
        </div>

        <div class="innerflex">
sadadad
        </div>
      </div>
      

    </div>

  </div> <!-- End of Wrapper -->

</div> <!-- End of Home section -->
      
{% schema %}
  {
    "name": "Fu Wine  Homepage",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      }
  ],
    "presets": [
      {
        "name": "Fu Wine  Homepage",
        "category": "Product"
      }
    ]
  }
{% endschema %}
