{% assign header_title = page.title %}
{% include 'page_header' with header_title %}

<div class="wrapper wrapper--margins wrapper__article">
  <div class="rte">
    {{ page.content }}
    <h2>WHY F.U. IS UNIQUE</h2>
    <p>
      Our wines are sourced from a single old vineyard from what we consider
be one of the fnest vineyards in South Australia.
      <br>
      <br>
The fruit for F.U. is the sourced from the 5 best vineyard parcels from
the Ebenezer vineyard with no less than 5 passes throughout harvest!
The 80-year-old parcel of Adrian Hoffman’s Ebenezer Vineyard are some
of the fnest in Australia. For those of you who know Shiraz, Ebenenzer
vineyard is the source for Penfolds Grange and several other top wines
from Australia.
      <br>
      <br>
Being able to select from the top vines in South Australia gives us the
beneft of perfectly, ripened fruit. The smooth taste of each vintage
comes from selecting specifc fruit parcels that allow us to defne the
wine as much in the vineyard as the winery.
      <br>
      <br>
These grapes are brought into the winery, and crushed into old vats
where the fermentation is initiated by “wild” yeasts found on the grape
skins. Careful extraction and short post fermentation maceration is
followed by soft pressing.
      <br>
      <br>
The wine is transferred into brand new oak barrels where the malolactic
fermentation is completed before racking and maturation for 36 months
in barrels. A careful assemblage and barrel selection is followed by
minimal fltration and bottling.
      <br>
      <br>
    </p>
    <a class="btn btn--small">VIEW OUR WINES</a>
  </div>
</div>
